html {
    height: 1000px;
    font-family: monospace;
}

body {
    background-image: url(https://cutewallpaper.org/21/retro-wave-wallpaper/Retrowave-Outrun-Mountains-Night-HD-Artist-4k-Wallpapers-.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
}
h1 {
    position: absolute;
    color: white;
    right: 270px;
    top: 590px;
    color: #ff5050;
}
h1:hover {
    cursor: pointer;
    color: #ff3333;
}

p{
    color: #4D94BA;
    position: absolute;
    font-size: 20px;
}
#win-counter-p1 {
    margin-right: 1000px;
}
#win-counter-p2 {
    margin-left: 1000px;
}
#score1 {
    color: #FF901F;
}
#score2 {
    color: #FF00AD;
}

.game-box {
    margin-top: 50px;
    width: 650px;
    height: 775px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.kachel {
    background-color: rgba(255, 179, 179, 0.3);
    width: 200px;
    height: 200px;
    border-radius: 5%;
}
.kachel:hover {
    cursor: pointer;
}
.changing {
    position: absolute;
    opacity: 0; 
}

#restart {
    position: relative;
    opacity: 70%;
}
#restart:hover {
    cursor: pointer;
}

#player1 {
    color: #FF901F;
    text-decoration: underline;
}
#player2 {
    color: #FF00AD;
    text-decoration: none;
}

h2 {
    color: white;
}